@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

//Primary
$DarkBlue1: hsl(217, 28%, 15%); //intro and email sign up background
$DarkBlue2: hsl(218, 28%, 13%); //main background
$DarkBlue3: hsl(216, 53%, 9%); //footer background
$DarkBlue4: hsl(219, 30%, 18%); //testimonials background
$WhiteOpacity: rgba(255, 255, 255, 0.5);
$WhiteActive: rgba(255, 255, 255, 1);

//Accent
$Cyan: hsl(176, 68%, 64%); //inside call-to-action gradient
$Blue: hsl(198, 60%, 50%); //inside call-to-action gradient
$LightRed: hsl(0, 100%, 63%);//Error

//Font
$FontOpenSans: 'Open Sans', sans-serif;
$FontRaleway: 'Raleway', sans-serif;